/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

ul.nav, .jumbotron h1{
	font-family: 'Arvo', courier, serif;
}
.jumbotron {
	text-align: center;
	background-image: url('../hero-image.jpg');
	margin-bottom: 0px;
}

ul.nav {
	font-size: 13px;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
	color:white;
}

.jumbotron p{
	margin-bottom: 30px;
	color:white;
	font-weight: 100;
}

.btn-lg{
	font-size: 24px;
}

.col-md-4{
	padding: 10px 20px 0px 20px;
}

.homepage {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
}

.homepage h2, .homepage h3{
	color:#e74c3c;
	text-transform: uppercase;
}

.homepahe h2{
	font-size: 30px;
}
.homepage h3{
	font-size: 26px;
}

.btn-default{
	color:#e74c3c;
}

.homepage hr{
	border-color: #e74c3c;
	width: 160px;
	margin-bottom: 30px;
}

.homepage p{
	font-size: 21px;
	font-weight: 200;
}

.homepage a{
	color:#e74c3c;
}

.homepage a:hover{
	color:#e74c3c;
	text-decoration: none;
	opacity: 0.8;
}

#get-involved {
	background-color: #f5f5f5;
}

#get-involved h2, h3{
	font-family: 'Arvo', courier, serif;
}

footer{
	background-color: #e74c3c;
	font-family: 'Arvo', serif;
	color: white;
	padding-top: 40px;
 	padding-bottom: 20px;
  	padding-left: 30px;
}

#who-we-are{
	padding-top: 0px;
}

#who-we-are h2{
	font-family: 'Arvo', courier, serif;
}

#go-to-top-btn a{
	background-color: #e74c3c;
	border-color: #e74c3c;
	padding-left: 80px;
}

#go-to-top-btn a:hover{
	background-color: #e74c3c;
	opacity: 1;
	border-color: #e74c3c;
}

@media screen and (max-width: 991px) {

    .col-md-10 img{
    	position: relative;
  		left: -40px;
    }

    #go-to-top-btn{
    	position: relative;
  		left: 600px;
  		bottom: 50px;
    }

    footer{
    	padding-bottom: 0px;
    }
}

@media screen and (max-width: 767px) {

	.navbar-header img{
		padding-left: 0px;
	}
	.col-md-10 img{
    	position: relative;
  		left: 0px;
  		top: 10px;
  		width: 80%;
    }


}
