$purple: #5A515C;
$green: #33CD99;
$red: #EF473A;
$yellow: #F0AD4E;
$blue: #337AB7;
$white: #fff;
$black: #000;
$light-gray: #F5F5F5;
$border-light-gray: #D1D1D1;
$dark-gray: #231F20;

$font-stack: 'Lato', Helvetica, sans-serif;

$breakpoint-large: 1067px;
$breakpoint-small: 767px;
$breakpoint-small-xs: 300px;
